@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D1EB84DB-86FA-4383-90EF-C771E65DE9D1
@obs-dev:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=d244ff47-db94-4f4d-9824-dc49166639cb
