<StackLayout class="detail-action">
    <StackLayout class="action-bar detail-action-bar p-t-20 p-b-20">
        <FlexboxLayout justifyContent="space-between" alignItems="center">
            <Label text="&#xf00d;" class="fa close-icon" marginLeft="20" (tap)="onClose()"></Label>
            <StackLayout class="action-bar-title">
                <Label text="&#xf1b9; &nbsp;Vehicle" class="fa" marginRight="20"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>
    <ScrollView class="page page-content detail-modal-content">
        <StackLayout horizontalAlignment="center">
            <Label text="Name" class="label text-center" marginTop="20" marginBottom="5"></Label>
            <Label [text]="vehicle.displayName" class="strong text-center" marginBottom="20"></Label>
            <Label text="Description" class="label text-center" marginTop="20" marginBottom="5"></Label>
            <Label [text]="vehicle.description" class="strong text-center" marginBottom="20" textWrap="true"></Label>
            <Label text="Type" class="label text-center" marginTop="20" marginBottom="5"></Label>
            <Label [text]="vehicle.vehicleTypeName" class="strong text-center" marginBottom="20"></Label>
            <Label text="Capacity" class="label text-center" marginTop="20" marginBottom="5"></Label>
            <Label [text]="vehicle.numberOfPassengers + ' Passengers'" class="strong text-center"
                marginBottom="20"></Label>
            <StackLayout *ngIf="!restrictedView">
                <Label text="Condition" class="label text-center" marginTop="20" marginBottom="5"></Label>
                <Label [text]="vehicleCondition" class="strong text-center" marginBottom="20"></Label>
                <Label text="Fuel Level" class="label text-center" marginTop="20" marginBottom="5"></Label>
                <Label [text]="vehicleFuelLevel" class="strong text-center" marginBottom="20"></Label>
                <Label text="Images" class="label text-center" marginTop="20" marginBottom="5"></Label>
                <Image *ngFor="let image of vehicleImages" [src]="image.url" stretch="aspectFit"></Image>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
